@charset "utf-8";

/* ==============================================================
各ファイル共通部分
==============================================================*/

* {/*すべてのボーダーボックスの大きさをマージン込みに変更*/
	box-sizing: border-box;
}
html {
    font-size: 100%;
}

body {
    font-family: "Yu Gothic Medium0", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
}

.wrapper {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 5%;
}

.haikei {
	background-color: #faf7f0;
	margin-bottom: 30px;
	padding: 10px 5px 10px 5px;
	border-radius: 10px;
}

footer {
	background-color: #0bd;
	text-align: center;
}

.hontitle {
	font-size: 3rem;
	font-family: 'Philosopher', serif;
    font-weight: normal;
	font-style: italic;
}

/*=====================================
ここから画面トップへ飛んでいくアイコンづくり
=======================================*/

#gotop {
	position: fixed;/*固定表示の宣言*/
	right: 10px;
	bottom: 10px;/*右から50px、下から50pxの位置に配置*/
}

#gotop a {/*デザインの作成*/
	display: block;/*アイコン上にポイントが乗れば反応するようになる。*/
	width: 50px;
	height: 50px;/* 50x50の大きさの指定*/
	background-color: lightblue;
	border-radius: 50%;/* 50%で円を作成*/
	text-decoration: none;/* テキストの下線部の削除*/
	color: #ccc;
	text-shadow: 2px 2px 3px #333;/* x軸(右方向)、y軸(下方向)にpx分移動し、px分ぼやかす、配色*/
	text-align: center;/*▲を横軸の中心に配置*/
	line-height: 50px;
	
}

/*=================================================
ここまでアイコンづくり
====================================================*/

/*==============================================
ここからハンバーガーメニューの作成
=============================================================*/

nav {/* 見た目の成型１*/
	width: 35px;
	height: 35px;
	background-color: #aaa;
	border-radius: 5px;
	cursor: pointer;
	position: fixed;/*固定配置にする*/
	top: 10px;
	right: 10px;
}

nav span,
nav span::before,
nav span::after {/* 見た目の成型2*/
	width: 30px;
	height: 3px;
	background-color: #fff;
	display: block;
	content: "";
	position: absolute;/* 絶対値で配置する 今回は親要素navタグ内のfixedを基準にしている */
	top: 2.5px;
	left: 2.5px;
}

nav span::before {/* 見た目の成型3*/
	top:13px;
	left: 0;
}

nav span::after {/* 見た目の成型4*/
	top: 26px;
	left: 0;
}

#open-close{/*チェックボックスをなくす*/
	display: none;
}

#menu {/* 初期配置の設定*/
	margin-top: 35px;
	list-style-type: none;
	padding: 0 10px;
	position: fixed;
	right: -300px;
	z-index: 999;
}

#open-close:checked ~ #menu {/*ハンバーガーアイコンがクリックされた際の動作*/
	transition: all 1000ms 0s linear;/*1秒間に滑らかに登場させる*/
	transform: translate(-300px);
}

#open-close ~ #menu {/*ハンバーガーアイコンの表示されたリストを引っ込める*/
	transition: all 1500ms 0s linear;
	transform: translate(300px);
}

#menu a {/*表示された際のデザイン*/
	padding: 3px 10px;
	display: block;
	background-color: rgba(211, 211, 211, 0.2);
	color: #333;
	text-align: center;
	text-decoration: none;
	border-bottom: 1px solid #999;
}

#menu a:hover{/*表示されたリスト上にマウスポインタが乗っているときに動作*/
	background-color: #0bd;
	color: #fff;
}

/*==============================================
ここまでハンバーガーメニューの作成
=============================================================*/

/* ============================================================
ここまで共通部分
==================================================================*/

/* ===========================================================-------
about.html
==============================================================*/

.header_img {
    background-image: url(images/top_top.jpg);
    height: 380px;
    margin-bottom: 40px;
    background-size: cover;
    text-align: center;
    line-height: 380px;
}

.header_top {
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.yokonarabi {
	display: flex;
	justify-content: space-between;
}

section {
	width: 70%;
}

.hondai {
	font-size: 1.8rem;
	padding-bottom: 2px;
	margin-bottom: 0;
}
.subtitle {
	font-size: 1.1rem;
	margin-top: 0;
	margin-bottom: 10px;
	border-bottom: 1px solid black;
}

aside {
	width: 20%;
}

/* ===========================================
player.html
=============================================- */

.table1,
.table2,
.table3 {
	border: 2px solid black;
	border-collapse: collapse;
}

.table1 th,
.table2 th,
.table3 th {
	background-color: #0bd;
}

.table1 td,
.table2 td,
.table3 td {
	padding-left: 10px;
}

.player_subtitle {
	border-bottom: 1px solid #0bd;
}


.player_top,
.player_under {
	background-color: #eee;
	padding-bottom: 5px;
}

.player_top p,
.player_under p {
	font-weight: bold;
	margin-bottom: 10px;
}

.player_top li,
.player_under li {
	list-style-type: none;
	margin-bottom: 5px;
	border-bottom: 1px solid #0bd;
}

.player_top a,
.player_under a {
	text-decoration: none;
}

.player_top a:hover,
.player_under a:hover {
	color: #0bd;
}

.player_top {
	margin-bottom: 30px;
}

/* ============================================
earphone.html
========================================== */

.table4 {
	border: 2px solid black;
	border-collapse: collapse;
}

.table4 th {
	background-color: #0bd;
}

.table4 td {
	table-layout: fixed;
	width: 300px;
	padding-left: 20px;
}

.lsp li {
	list-style-position: inside;
}

.player_center {
	margin-bottom: 30px;

}
.player_center li {
	list-style-type: none;
}

.player_center a {
	color: #fff;
}

.player_center a:hover {
	color: #0bd;
}


/* ================================================
contact.html
==================================================*/
/* フォームの設定 */

form div {
    margin-bottom: 14px;
}
label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    background: rgba(211, 211, 211, .6);
    border:  1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    max-width: 240px;
}

textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
    resize: none;
}

input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
}

#contact {
    background-image: url(../images/contact-bg.jpg);
    min-height: 100vh;
}

/* フォームの設定 */

.fc {
	color: #fff;
}

.back {
	background-image: url(images/form_back.jpg);
	background-size: cover;
	/* min-height: 100vh; */
	padding-bottom: 30px;
}

form div {
    margin-bottom: 14px;
}
label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    background: rgba(255, 255, 255, .5);
    border:  1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    max-width: 240px;
}

textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
    resize: none;
}

input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
}
.button {
    font-size: 1.375rem;
    background: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}
#location {
    padding: 4% 0;
}

#location .wrapper {
    display: flex;
    justify-content: space-between;
}

.location-info {
    width: 50%;
	margin-right: 60px;
	text-align: right;
}

.location-info p {
    padding: 12px;
}

.location-map {
    width: 50%;
}

/* .contact_subtitle {
	margin-right: 58px;
} */

.haba {
	margin-top: 20px;
}

.zyusyo {
	text-align: center;
	margin-bottom: 10px;
}

/* ==================================================================
for mobile 共通
=========================================================== */

@media (max-width: 600px) {
	.yokonarabi {
		flex-direction: column;
	}

	section,
	aside {
		width: 100%;
	}
}

/* ============================================-
play.html
======================================================= */

.asobi {
	background-image: url(images/jump-earphone.jpg);
	width: 100%;
	height: auto;
	animation: asobi 2s ease infinite alternate;
	animation-fill-mode: 10s forwards;

}

@keyframes asobi {
	0% {
		opacity: 0;
		pointer-events: none;
	}
	10% {
		opacity: 0.1;
		pointer-events: none;
	}
	20% {
		opacity: 0.2;
		pointer-events: none;
	}
	30% {
		opacity: .3;
		pointer-events: none;
	}
	40% {
		opacity: 0.4;
		pointer-events: none;
	}
	50% {
		opacity: 0.5;
		pointer-events: none;
	}
	60% {
		opacity: 0.6;
		pointer-events: none;
	}
	70% {
		opacity: 0.7;
		pointer-events: none;
	}
	80% {
		opacity: 0.8;
		pointer-events: none;
	}
	90% {
		opacity: 0.9;
		pointer-events: none;
	}
	100%{
		opacity: 1;
	}

}

/* ==================================================================-
game.html
====================================================================*/

.army01 {
    width: 200px;
}

.sentaku{
	width: 100%;
}

/* .button{
font-size: 20px;
width: 15%;
} */