@charset "utf-8";

.wrappaer{
    max-width: 500px;
    margin: auto 16px;
}

body{
    min-height: 100vh;
    background: linear-gradient(gray,black);
    background-repeat: no-repeat;
    color: aqua;
    overflow-y: hidden;
    text-align: center;
}

.top{
    margin-bottom: 100px;
}

.itiran{
    list-style-type: square;
    width: 50%;
    margin: 0 auto;
}

li{
    text-align: left;
    margin-bottom: 10px;
}

.tyuo{
    margin-top: 30px;
    text-align: center;
}
.flex{
    display: flex;
    justify-content: center;
}

#start{
    font-size: 30px;
    width: 300px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
}